 .squareRed{
    transform:translate(515px, 360px) rotate(45deg);
}
 .triangleGreen{
    transform: translate(300px, 220px) rotate(45deg);
}
 .triangleLime{
    transform: translate(435px, 440px)rotate(315deg);
}
 .triangleBlue{
    transform: translate(413px, 60px) rotate(180deg);
}   
 .triangleYellow {
    transform: translate(183px, 215px) rotate(90deg);
}
 .trapezePurple{
    transform: translate(275px, 517px) rotate(45deg) skew(-45deg);
}
 .triangleOrange{
    transform: translate(385px, 420px) rotate(135deg);
}