.cat .squareRed{
    transform:translate( 50px, 120px) rotate(45deg);
}

.cat .triangleBlue{
    transform: translate( -33px, 40px) rotate(45deg);
}   

.cat .triangleLime{
    transform: translate( 133px, 40px) rotate(225deg);
}   

.cat .triangleYellow {
    transform: translate(-3px, 303px) rotate(45deg);
}

.cat .triangleGreen{
    transform: translate(175px, 20px) rotate(45deg);
}

.cat .trapezePurple{
    transform: translate(100px, 50px) rotate() skew(45deg);    
}

.cat .triangleOrange{
    transform: translate(30px, 290px) rotate(225deg);
}