body{
    margin: 0;
}

h1{
    text-align: center;
    font-size: 3em;
}

.darkmode{
    position: fixed;
    right: 15px;
    top: 15px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

nav button{
    height: 25px;
}

main{
    width: 100vw;
    height: 90vh;
}

.container{
    height: 80%;
    width: 50%;
    background-color: rgb(34, 195, 223);
    margin: auto;
    position: relative;
}

.container *{
    position: absolute;
}

.squareRed{
    border-left: 113px solid #FF0300;
    border-top: 113px solid #FF0300;
}

.triangleBlue{
    border-left: 113px solid transparent;
    border-top: 113px solid #00D1FF;
}

.triangleGreen{
    border-left: 225px solid transparent;
    border-top: 225px solid #00FF70;
}

.triangleLime{
    border-left: 112px solid transparent;
    border-top: 112px solid #a4FF00;
}

.triangleYellow{
    border-left: 225px solid transparent;
    border-top: 225px solid #FFD300;
}

.trapezePurple{
    width: 158px;
    height: 70px;
    transform: skew(-45deg);
    background-color: #FF00E8;
}

.triangleOrange{
    border-left: 155px solid transparent;
    border-top: 155px solid #FF8300;  
}

.container *{
    transition: transform 2000ms ease;
}
