body{
    margin: 0;
    background-image:url("https://i.ytimg.com/vi/cfsdA9QHp18/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-size: 3em;
}

.darkmode{
    position: fixed;
    right: 15px;
    top: 15px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

nav button{
    height: 25px;
}

.container{
    width: 50vw;
    height: 100%;
    margin: auto;
    position: relative;
    
    
}

.container *{
    position: absolute;
}

.squareRed{
    border-left: 113px solid #F99A9C;
    border-top: 113px solid #F99A9C;
    transform: translate(277px, 307px)rotate(135deg);

}

.triangleBlue{
    border-left: 113px solid transparent;
    border-top: 113px solid #8AC0DE;
}

.triangleGreen{
    border-left: 225px solid transparent;
    border-top: 225px solid #70AE98;
}

.triangleLime{
    border-left: 112px solid transparent;
    border-top: 112px solid #ADDDCE;
}

.triangleYellow{
    border-left: 225px solid transparent;
    border-top: 225px solid #FED797;
}

.trapezePurple{
    width: 158px;
    height: 70px;
    transform: skew(-45deg);
    background-color: #D3C0F9;
}

.triangleOrange{
    border-left: 155px solid transparent;
    border-top: 155px solid #ECAD8F;  
}

.container *{
    transition: transform 2000ms ease;
}

body.dark {
    background-size: cover;
    background-image: url("https://images-ext-1.discordapp.net/external/X3TOFbUFJbyalmENI06HpBdDC0dGXxPun5VEAYip2mI/https/e0.pxfuel.com/wallpapers/41/392/desktop-wallpaper-cookie-monster-background-for-computer-computer-beautiful-computer-and-cute-computer.jpg?format=webp");
}