h1{
    text-align: center;
    font-size: 3em;
}

.darkmode{
    position: fixed;
    right: 15px;
    top: 15px;
}

nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

nav button{
    height: 25px;
}

.container{
    height: 600px;
    width: 600px;
    background-color: rgb(255, 25, 186);
    margin: auto;
    position: relative;
}

.container *{
    position: absolute;
}

.squareRed{
    border-left: 113px solid rgb(121, 0, 0);
    border-top: 113px solid rgb(121, 0, 0);
}

.triangleBlue{
    border-left: 113px solid transparent;
    border-top: 113px solid rgb(0, 9, 63);
}

.triangleGreen{
    border-left: 225px solid transparent;
    border-top: 225px solid rgb(1, 92, 10);
}

.triangleLime{
    border-left: 112px solid transparent;
    border-top: 112px solid rgb(86, 225, 0);
}

.triangleYellow{
    border-left: 225px solid transparent;
    border-top: 225px solid rgb(215, 197, 5);
}

.trapezePurple{
    width: 158px;
    height: 70px;
    transform: skew(-45deg);
    background-color: rgb(86, 3, 116);
}

.triangleOrange{
    border-left: 155px solid transparent;
    border-top: 155px solid rgb(198, 139, 1);  
}

.container *{
    transition: transform 2000ms ease;
}