 .squareRed{
    transform:translate(145px, 280px) rotate(35deg);
}
 .triangleGreen{
    transform: translate(460px, 250px) rotate(45deg);
}
 .triangleLime{
    transform: translate(277px, 307px)rotate(135deg);
}   
 .triangleBlue{
    transform: translate(357px, 387px) rotate(315deg);
}   
 .triangleYellow {
    transform: translate(460px, 250px) rotate(225deg);
}
 .trapezePurple{
    transform: translate(610px, 133px) skew(-45deg); 
}
 .triangleOrange{
    transform: translate(385px, 125px) rotate(315deg);
}