.squareRed{
    transform:translate(482px, 293px) rotate(45deg);
}
 .triangleGreen{
    transform: translate(340px, 75px) rotate(135deg);
}
 .triangleLime{
    transform: translate(565px, 210px)rotate(225deg);
}   
 .triangleBlue{
    transform: translate(396px, 375px) rotate(315deg);
}   
 .triangleYellow {
    transform: translate(176px, 237px) rotate(45deg);
}
 .trapezePurple{
    transform: translate(335px, 437px) skew(-45deg); 
}
 .triangleOrange{
    transform: translate(468px, 352px) rotate(90deg);
}